

.item {
    width: 100%;
    float: left;
    margin: 20px 0;
}

.item .box {
    background-color: #fafafa;
    padding: 30px;
    border: 10px solid #f0f0f0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: auto;
}